<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ch.epfl.sweng.project">

    <!-- Permission Application -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- _____________________________________________ Application  _____________________________________________ -->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- _____________________________________________ Facebook activity  _____________________________________________ -->
        <!-- suppress AndroidElementNotAllowed -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"/>

        <!-- Login Activity -->
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- Second activity -->
        <activity android:name=".MainActivity">
        </activity>

        <!-- Service used to get information about the currently playing music -->
        <service
            android:name=".Music.MusicInfoService"
            android:enabled="true"
            android:exported="true"/>

    </application>

</manifest>